.bookelement, .bookelement-group {
  white-space: nowrap;
}

.bookelement > .book-element-item, .bookelement-group > .book-element-group-item {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  line-height: 35px;
}

span.book-element-item, span.book-element-group-item {
  width: calc(100% - 75px);
}

.bookelement.selected, .bookelement-group.selected {
  background-color: #e0e0e0;
}

.bookelementdetails.inactive, .elementgroupdetails.inactive {
  display: none;
}

.element, .element-group {
  border: 1px solid #dcdcdc;
  /*height: 35px;*/
  line-height: 35px;
  margin: 1px;
  cursor: pointer;
}

.bookelement > i, .element > i, .element-group > i, .bookelement-group > i {
  vertical-align: middle;
  margin: 0px 10px 0px 3px;
}

.sortable-ghost {
  border: 2px dashed #dcdcdc;
  height: 35px;
  opacity: .6;
}
