.element {
  border: 1px solid #dcdcdc;
  height: 35px;
  line-height: 35px;
  margin: 1px;
  cursor: pointer;
}

.element > i {
  vertical-align: middle;
  margin: 3px 10px 3px 3px;
}

.element.page {
  margin-top: 20px;
}

.sortable-ghost {
  border: 2px dashed #dcdcdc;
  height: 35px;
  opacity: .6;
}
