.bookelement {
  white-space: nowrap;
}

.bookelement > .item {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  line-height: 35px;
}

span.item {
  width: calc(100% - 75px);
}

.bookelement.selected {
  background-color: #e0e0e0;
}

.bookelementdetails.inactive {
  display: none;
}

.element {
  border: 1px solid #dcdcdc;
  /*height: 35px;*/
  line-height: 35px;
  margin: 1px;
  cursor: pointer;
}

.bookelement > i, .element > i {
  vertical-align: middle;
  margin: 0px 10px 0px 3px;
}

.sortable-ghost {
  border: 2px dashed #dcdcdc;
  height: 35px;
  opacity: .6;
}
